<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#school" aria-controls="school" role="tab" data-toggle="tab">School</a></li>
  <li role="presentation"><a href="#coding" aria-controls="coding" role="tab" data-toggle="tab">Coding</a></li>
  <li role="presentation"><a href="#personal" aria-controls="personal" role="tab" data-toggle="tab">Personal</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="school">
    <h1 class='center'>School</h1>
    <hr>

    <div class="row">
      <div class="col-md-4">
        <h3>Due Tomorrow</h3>

        <table class='table'>
          <thead>
            <tr>
              <th>Class</th>
              <th>Assignment</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>SP</td>
              <td>hi</td>
            </tr>

            <tr>
              <td>AP-E</td>
              <td>hi</td>
            </tr>

            <tr>
              <td>A2</td>
              <td>hi</td>
            </tr>

            <tr>
              <td>US</td>
              <td>hi</td>
            </tr>

            <tr>
              <td>EN</td>
              <td>hi</td>
            </tr>

            <tr>
              <td>BIO</td>
              <td>hi</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-md-4">
        <h3>Due This Week</h3>
      </div>

      <div class="col-md-4">
        <h3>Sometime...</h3>
      </div>
    </div>
  </div>

  <div role="tabpanel" class="tab-pane" id="coding">
    <h1 class='center'>Coding</h1>
    <hr>
  </div>

  <div role="tabpanel" class="tab-pane" id="personal">
    <h1 class='center'>Personal</h1>
    <hr>
  </div>
</div>
